canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.float{
    left: 10%;
    z-index: 1;
    position: fixed;
    width: 80%;
}

.rub{
    top: 70%;
    left: 20%;
    z-index: 1;
    position: fixed;
    width: 60%;
}

.left{
    top: 83%;
    left: 5%;
    z-index: 1;
    position: fixed;
    width: 20%;
}

.right{
    top: 83%;
    right: 5%;
    z-index: 1;
    position: fixed;
    width: 20%;
}

.center{
    top: 55%;
    right: 0%;
    z-index: 1;
    position: fixed;
    width: 30%;
}

p {
	margin: 0 0;
	position: absolute;
	font: 16px Verdana;
	color: #eee;
	height: 25px;
	top: calc( 100vh - 30px );
	text-shadow: 0 0 2px white;
}
p a {
	text-decoration: none;
	color: #aaa;
}
span {
	font-size: 11px;
}
p > a:first-of-type {
	font-size: 20px;
}

html, body {
    overflow-y:hidden;
    height:100%;
  }